---
import CommonLayout from "@/layouts/CommonLayout.astro";
import BackgroundShootingStar from "@/components/BackgroundShootingStars.astro";
import UserInfoCard from "@/features/home/UserInfoCard.astro";
import SectionTitle from "./SectionTitle.astro";
import ContactInfoList from "./ContactInfoList.astro";
import ToolList from "./ToolList.astro";
import BlogList from "./BlogList.astro";

const flexSectionClass = "box-border flex flex-wrap px-6 py-2";
---

<CommonLayout>
  <BackgroundShootingStar />

  <SectionTitle>个人信息</SectionTitle>
  <div class={flexSectionClass}>
    <UserInfoCard />
  </div>
  <SectionTitle>社交信息</SectionTitle>
  <div class={flexSectionClass}>
    <ContactInfoList />
  </div>
  <SectionTitle>小工具</SectionTitle>
  <div class={flexSectionClass}>
    <ToolList />
  </div>
  <SectionTitle>文章</SectionTitle>
  <div class="px-6">
    <BlogList />
  </div>
</CommonLayout>
