---

---
<div
  class:list={[
    "text-lg text-primary dark-text-primary-light",
    "p-2",
    "bg-transparent",
  ]}
>
  <span class:list={["w-4", "m-2 py-0 px-1", "bg-blue-500"]}></span>
  <slot />
</div>
