@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply box-border rounded-md bg-white dark:bg-gray-700
  }
  .page {
    @apply box-border p-2 sm:p-4 md:p-9 bg-page;
  }
}

@layer base {
  :root {
    --color-bg-page: 243 244 246;
  }
  @media (prefers-color-scheme: dark)  {
    :root {
      --color-bg-page: 17 24 39;
    }
  }
}

@layer utilities {
  .writing-vrl {
    writing-mode: vertical-rl;
  }
  .writing-vlr {
    writing-mode: vertical-lr;
  }
}