.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
  user-select: none;
  box-shadow: rgba(255,0,0,0.5) 0 5px 20px 5px;
}


.Home__motto {
  -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}