---

---

<style>
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
  }
  .night {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform: rotateZ(135deg);
    top: -150px;
    opacity: 0.5;
  }

  .star {
    position: absolute;
    /* 先定位到中间 */
    left: 5%;
    top: 30%;

    height: 2px;
    animation:
      tail 6000ms ease-in-out infinite,
      shooting 6000ms ease-in-out infinite;

    background: linear-gradient(-45deg, #ffe75f, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #ffe75f);
    z-index: 2;
  }

  .star::before,
  .star::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 2px;
    border-radius: 100%;

    animation: shining 6000ms ease-in-out infinite;

    transform: translateX(50%) rotateZ(45deg);

    background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0),
      #ffe75f,
      rgba(0, 0, 0, 0)
    );
    content: "";
    font-size: 20px;
  }

  .star::after {
    transform: translateX(50%) rotateZ(-45deg);
  }

  .star:nth-child(2) {
    top: calc(30% + 150px);
    left: calc(5% - 10px);
  }

  .star:nth-child(3) {
    top: calc(30% - 100px);
    left: calc(5% - 200px);
  }
  .star:nth-child(4) {
    top: calc(30% - 210px);
    left: calc(5% - 100px);
  }

  .star:nth-child(5) {
    top: calc(30% - 300px);
    left: calc(5% - 100px);
  }

  .star:nth-child(2),
  .star:nth-child(2)::after,
  .star:nth-child(2)::before {
    animation-delay: 2000ms;
  }

  .star:nth-child(3),
  .star:nth-child(3)::after,
  .star:nth-child(3)::before {
    animation-delay: 4000ms;
  }

  .star:nth-child(4),
  .star:nth-child(4)::after,
  .star:nth-child(4)::before {
    animation-delay: 6000ms;
  }

  .star:nth-child(5),
  .star:nth-child(5)::after,
  .star:nth-child(5)::before {
    animation-delay: 8000ms;
  }

  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }

  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 300px;
    }
    100% {
      width: 0;
    }
  }

  @keyframes shooting {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(85vw);
    }
  }
</style>
<div class="wrapper">
  <div class="night">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
</div>
