.Tile__wrapper {
    box-sizing: border-box;
    border-radius: 6px;
    background-color: white;
    border: rgba(0,0,0,0.1) 1px solid;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0,0,0,0.05) 0 0 5px;
    text-decoration: none;
}

.Tile__wrapper:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.01);
    pointer-events: none;
}