---
import HeaderNavBar from "@/components/HeaderNavBar.astro";
import "@/styles/global.css";
import "@/styles/markdown.css";
import { ViewTransitions } from "astro:transitions";
import MetaViewport from "./MetaViewport.astro";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <MetaViewport />

    <title>{title}</title>
    <style>
      article {
        width: 90%;
        max-width: 900px;
        margin: auto;
      }
    </style>
  </head>
  <body class="bg-page">
    <HeaderNavBar />
    <article>
      <slot />
    </article>
  </body>
</html>
