---
import "@/styles/global.css";
import "@/styles/markdown.css";
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style>
      body {
        color: rgba(22, 24, 35, 0.75);
      }
      article {
        width: 90%;
        max-width: 900px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <article>
      <slot />
    </article>
  </body>
</html>
