---
import "@/styles/global.css";
import "@/styles/poem.css";
import "@fontsource/long-cang";
import MetaViewport from "./MetaViewport.astro";
const { title } = Astro.props;
// const colors = [
//   { name: "剑锋紫", value: "#3e3841" },
//   { name: "靛青", value: "#1661ab" },
//   { name: "蜻蜓蓝", value: "#3b818c" },
//   { name: "苍绿", value: "#223e36" },
//   { name: "淡茧黄", value: "#f9d770" },
//   { name: "藕荷", value: "#edc3ae" },
//   { name: "淡桃红", value: "#f6cec1" },
// ];
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <MetaViewport />
    <title>{title || "诗词集"}</title>
    <style>
      body {
        --bg-color: #3e3841;
      }
    </style>
  </head>
  <body class="page writing-vrl bg-[var(--bg-color)] transition-colors">
    <slot />
  </body>
</html>
